.editor {
  min-width: 10rem;
  max-width: 80rem;
  margin: auto;
  padding: 0.5rem;
  min-height: 30rem;
  border: solid 2px;
  border-radius: 3px;
  white-space: break-spaces;
}

span.input-buffer {
  background-color: rgba(0, 110, 255, 0.212);
}
span.input-buffer:not(:empty)::after {
  content: '*';
}
